body{
    margin: 0 auto;
    padding: 0;
    background-image: url(../assets/images/image1.jpeg);
    resize: all;
}
.menu {
    background-color: #ffffff;
    margin: 0px 100px 0px 100px;
    border-block-end-style: solid;
    border-block-end-color: lightgray;
}


.navbar {
    padding: 15px;
    width: 200px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
   
    }

#list {
    position: absolute;
    top: 0;
    right: 120px;
    list-style-type: none;
    padding: 10px;
  }

#a-1 {
float: left;
padding: 10px;
border-left-style: solid;
border-left-color: lightgrey;
}

#a-2 {
float: left;
padding: 10px;
border-left-style: solid;
border-left-color: lightgray;
}
#a-3 {
float: left;
padding: 10px;
border-left-style: solid;
border-left-color: lightgray;
border-right-style: solid;
border-right-color: lightgray;
}
 .main-container
{
background-color: aqua;
}
.second-container {
background-color: beige;
}
.main-container {
    
}
.card{
    width:200px;
    background-color:tomato;
    height:200px;
    margin-bottom:20px;
  }
  .card{
    width:200px;
    background-color:tomato;
    height:200px;
    margin-bottom:20px;
  }
  .cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}